// Typography
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Lato', sans-serif;

// Font Colors
$primary-font-color: #f9f7f4;
$secondary-font-color: #283a97;

// Website Colors
$color-primary:     #f9f7f4;
$color-secondary:   #283a97;
$color-accent:      #f5c1bc;
$color-overlay:     #000000b0;

//Borderradius
$border-radius-button: 25px;
$border-radius-element: 20px;

// Breakpoints
$breakpoint-sm:  576px;
$breakpoint-md:  768px;
$breakpoint-lg:  992px;
$breakpoint-xl:  1200px;
$breakpoint-2xl: 1440px;

// Layout
$max-width: 1200px;
$border-radius: 4px;

