COMPOSE_API_KEY= Your API key here (e.g. QQyPwqQqqoaULLAt0DoFTDpt5x3xIuZXAqapUo9oV_AMxdomanXf~UzLfTsabI/pXasdaiD6aVQAdsadfTiT~2vfvMUiRnvfv2xYj_123Pp)
COMPOSE_GRAPHQL_ENDPOINT=Your GraphQL endpoint URL here (e.g. https://graphql.germanywestcentral.umbracocompose.com/your-project-alias/your-environment)


